In [2]:
import numpy as np
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from math import sqrt
import numpy as np

%config InlineBackend.figure_format = 'retina'
from datetime import datetime

In [4]:
buildings_df = pd.read_csv('../data/BuildingNames.csv')
buildings_df

          BuildingName
0     Office_000236000
1     Office_000237000
2     Office_000238000
3     Office_000239000
4     Office_000240000
...                ...
3461  Office_948918000
3462  Office_948919000
3463  Office_948920000
3464  Office_948921000
3465           Column1

[3466 rows x 1 columns]

In [11]:
first_floors = 0
second_floors = 0
for index in range(len(buildings_df)-1):
    row = buildings_df.iloc[index]
    building_name = row['BuildingName']
    building_index = building_name.split('_')[1]
    building_floor = building_index[-3:]

    if '5' in building_floor:
        first_floors += 1
    if '6' in building_floor:
        second_floors += 1

print(f'First Floors {first_floors} // Second Floors {second_floors}')

First Floors 0 // Second Floors 0